@font-face {
    font-family: 'tiny5';
    src: url('/fonts/Tiny5-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: tiny5;
    font-size: 18px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: default;
}

h1 {
    font-size: 48px;
    letter-spacing: 6px;
}

h2 {
    font-size: 34px;
    letter-spacing: 2px;
}

h3 {
    font-size: 20px;
    letter-spacing: 1px;
}

button {
    border: none;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}

.back {
    width: 35px;
    height: 35px;
    background-image: url("./img/GUI/button_back.png");
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.startscreen {
    width: 720px;
    height: 480px;
    position: fixed;
    top: 140px;
    background-image: url("./img/startscreen.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .wooden-button {
        width: 132px;
        height: 44px;
        background-image: url("./img/GUI/wooden_button_small.png");
        font-family: tiny5;
        font-size: 24px;
    }

    .big-button {
        height: 88px;
        background-image: url("./img/GUI/wooden_button_big.png");
    }

    .startscreen-overview {
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .startscreen-about {
        height: 100%;
        padding: 32px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255, 0.2);
        line-height: 1.2;

        .credits {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(0, 0, 0, 0.65);
            line-height: 1;

            table {
                padding-top: 4px;

                td {
                    border-bottom: 1px solid;
                    padding: 2px 16px;
                }

                .artist {
                    width: 60%;
                }
            }
        }

    }

    /*.startscreen-settings {} */

    .startscreen-header {
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .character-icon {
        width: 35px;
        height: 50px;
        position: absolute;
        bottom: 20%;
        left: 12%;
    }
}

canvas {
    background-color: black;
    display: block;
    position: fixed;
    top: 140px;
}

.game-overlay {
    width: 720px;
    height: 480px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 140px;
    gap: 8px;

    .game-buttons {
        display: flex;
        justify-content: end;
        .mute-btn {
            width: 35px;
            height: 35px;
            background-image: url("./img/GUI/button_audio_mute.png");
        }

        .settings-btn {
            width: 35px;
            height: 35px;
            background-image: url("./img/GUI/button_settings.png");
        }

        button:hover {
            transform: scale(1.2);
        }
    }

    .game-settings {
        width: 407.5px;
        height: 370px;
        background-image: url("./img/GUI/menu.png");
        background-size: cover;
        background-repeat: no-repeat;
        align-self: center;
    }
}

.controls {
    width: 100%;
    max-width: 720px;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    position: fixed;
    top: 620px;

    .controls-section {
        display: flex;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        img {
            width: fit-content;
            height: 34px;
        }

        span {
            padding-left: 12px;
        }
    }


}

.d-none {
    display: none !important;
}

.low-opacity {
    filter: opacity(0.5);
}

.dark-bg {
    background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 720px) {

    #startscreen,
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {

    #startscreen,
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}